@model SS_General_Trading.Models.Feedback

@{
    ViewBag.Title = "Create";
}


<style>
    .bgimg {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }

    .bgimg {
        background-image: url('../../Content/images/about.jpg');
        height: 600px;
        margin-top: -130px;
        transform: scale(1.05);
    }

    .about-overlay {
        height: 600px;
        background: -webkit-linear-gradient(bottom left,rgba(28,46,79,.62) 0,rgba(28,46,79,.7) 14.87%,rgba(45,83,123,.6) 100%);
        /*background: linear-gradient(to bottom left,rgba(28,46,79,.62) 0,rgba(28,46,79,.7) 14.87%,rgba(45,83,123,.6) 100%);*/
    }

        .about-overlay h4 {
            text-align: center;
            color: #fff;
            /*position: absolute;*/
            padding-top: 290px;
            font-family: Josefin Sans;
            font-size: 30px;
            z-index: 999;
        }
        #feedback-box{
            margin: 100px auto;
        }
        #feedback-box h1{
            font-family: Josefin Sans;
            font-size: 50px;
            font-weight: 800;
            margin: 60px auto;
            color: #aaa;
        }
        input[type=submit]{
            box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
        }
</style>
<div class="bgimg">
    <div class="about-overlay">
        <h4>FeedBack<br /><p>Your feedback is important for us</p></h4>
    </div>
</div>

<section id="feedback-box">
    <div class="container">
        <div class="row text-center">
            <h1>You feedback matters most for us !!</h1><hr />
        </div>
        <div class="col-md-6 col-md-offset-3">
            <h3 class="text-center">Please Provide Your Information Below</h3>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })*@
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control input-lg", @placeholder="Your Name" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control input-lg", @placeholder = "Your Email" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @*                    @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control input-lg", @placeholder = "Comments" } })
                        @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Get In Touch" class="btn btn-primary btn-block btn-lg btn-login" />
                        @*<a class="btn btn-primary btn-block btn-lg" onclick="SendEmail()" >Click to send Email</a>*@
                    </div>

                </div>
            }
        </div>
    </div>
</section>
<script>
    var SendEmail = function () {
        $.ajax({
            type: "Post",
            url: "/Feedbacks/SendMailToUser",
            success: function (data) {
                alert("Success");
            }
        })
    }
</script>

