<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SS General Trading</title>
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Bootstrap Dropdown Hover CSS -->
    <link href="~/Content/kybarg-bootstrap-dropdown-hover-c6ab463/css/animate.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Josefin+Sans">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
    <link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" style= "padding: 29px;" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="" class="navbar-brand">
                    <img src="~/Content/images/ss general trading logo.png"  />
                </a>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse" data-hover="dropdown" data-animations="fadeInDown fadeInRight fadeInUp fadeInLeft">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    @*<li>@Html.ActionLink("News", "News", "News_Events")</li>*@
                    <li>@Html.ActionLink("Gallery", "Gallery", "Galleries")</li>
                  @* drop down *@
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Products &nbsp;<span class="ion-chevron-down" style="color: #fff; font-size: 10px; margin-top: 5px;"></span></a>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            <li>@Html.ActionLink("Textile", "Textile", "Textile")</li>
                            <li>@Html.ActionLink("Beverages", "FoodBeverage", "FoodBeverage")</li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Crops <span class="ion-chevron-right"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Rice", "Rice", "Crops")</li>
                                    <li>@Html.ActionLink("Fruits", "Fruits", "Crops")</li>
                                    <li>@Html.ActionLink("Food Items", "FoodItems", "Crops")</li>
                                    
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Sports <span class="ion-chevron-right"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Clothes", "Clothes", "Sports")</li>
                                    <li>@Html.ActionLink("Sport Materials", "SportMaterial", "Sports")</li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Electronics <span class="ion-chevron-right"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Auto Parts", "AutoParts", "Electronics")</li>
                                    <li>@Html.ActionLink("Auto Mobiles", "AutoMobiles", "Electronics")</li>
                                    <li>@Html.ActionLink("Electronic Products", "ElectronicProducts", "Electronics")</li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Pharmaceutical <span class="ion-chevron-right"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Allopathic", "Allopathic", "Pharmaceutical")</li>
                                    <li>@Html.ActionLink("Herbal Medicines", "HerbalMedicines", "Pharmaceutical")</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    
                    <li>@Html.ActionLink("Contact", "Create", "Feedbacks")</li>
                    <li>@Html.Partial("_LoginPartial", new {@class = "login" })</li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="">
        @RenderBody()




        <section id="certified">
            <div class="container">
                <hr  style="position: absolute"/>
                <h3><sup>_____________________</sup>&nbsp;&nbsp;&nbsp;Certified by&nbsp;&nbsp;&nbsp;<sup>_____________________</sup></h3>
                <div class="col-md-4 text-center">
                    <img src="~/Content/images/fbr.png" class="logo2" />
                </div>
                <div class="col-md-4 text-center">
                    <img src="~/Content/images/Service.jpg" class="logo1" />
                </div>
                <div class="col-md-4 text-center">
                    <img src="~/Content/images/export.jpg" class="logo3" />
                </div>
            </div>
        </section>



        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-push-2">
                        <h4>Products</h4>
                        <br />
                        <li>@Html.ActionLink("Rice", "Rice", "Crops")</li>
                        <li>@Html.ActionLink("Fruits", "Fruits", "Crops")</li>
                        <li>@Html.ActionLink("Food Items", "FoodItems", "Crops")</li>
                        <li>@Html.ActionLink("Textile", "Textile", "Textile")</li>
                        <li>@Html.ActionLink("Food & Beverages", "FoodBeverage", "FoodBeverage")</li>
                 </div>
                    <div class="col-md-4 col-md-push-1">
                        <h4>Quick Links</h4>
                        <br />
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Gallery", "Gallery", "Galleries")</li>
                        <li>@Html.ActionLink("Contact", "Create", "Feedbacks")</li>
                    </div>
                    
                    <div class="col-md-4">
                        <h4>Follow us on</h4>
                        <div class="footer-social">
                            <a href=""><i class="fa fa-facebook-square"></i></a>
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                
                <p class="text-center" style="color: #aaa; padding-top: 100px; padding-bottom: 0; margin: 0;">&copy; @DateTime.Now.Year - SS General Trading - All Rights Reserved</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
	$(document).ready(function(){
		$(".dropdown-toggle").mouseover(function(){
			$(".dropdown").addClass("open");
			$(".dropdown-menu").addClass("animated flipInX");

		});
		$(".dropdown-menu").mouseleave(function () {
		    $(".dropdown").removeClass("open");
		});
		$(".dropdown-toggle").mouseover(function () {
		    $(this).css({"background-color":"transparent"});
		});
		
		$('.dropdown-submenu a.test').on("click", function(e){
		    $(this).next('ul').toggle();
		    e.stopPropagation();
		    e.preventDefault();
		  });

	});
    </script>
    <script src="~/Content/WOW-master/dist/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>

   
</body>
</html>
